<!DOCTYPE html>
<html {{ block "document-root-attrs" . }}{{ end }} lang="en" id="top">
<head>
    {{ block "document-head-before" . }}{{ end }}
    <title>{{ block "document-title" . }}{{ end }}</title>
    <meta charset="UTF-8">
    <meta name="color-scheme" content="dark">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Glance">
    <meta name="theme-color" content="{{ if ne nil .App.Config.Theme.BackgroundColor }}{{ .App.Config.Theme.BackgroundColor }}{{ else }}hsl(240, 8%, 9%){{ end }}">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ .App.AssetPath "app-icon.png" }}">
    <link rel="manifest" href="{{ .App.AssetPath "manifest.json" }}">
    <link rel="icon" type="image/png" href="{{ .App.Config.Branding.FaviconURL }}" />
    <link rel="stylesheet" href="{{ .App.AssetPath "main.css" }}">
    <script type="module" src="{{ .App.AssetPath "js/main.js" }}"></script>
    {{ block "document-head-after" . }}{{ end }}
</head>
<body>
{{ template "document-body" . }}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function createWebSocket() {
            let host = window.location.hostname;
            let port = window.location.protocol === "https:" ? (window.location.port || 443) : (window.location.port || 80);
            let protocol = window.location.protocol === "https:" ? "wss" : "ws";
            let ws = new WebSocket(protocol + "://" + host + ":" + port + "/ws");
            console.log("WebSocket connection established");
            ws.onmessage = function(event) {
                if (event.data === "reload") {
                    location.reload();
                }
            };
    
            ws.onclose = function() {
                console.log("WebSocket connection closed, attempting to reconnect...");
                setTimeout(createWebSocket, 1000);
            };
        }
    
        createWebSocket();
    });
</script>
</body>
</html>
