{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="list list-gap-10 collapsible-container" data-collapse-after="{{ .CollapseAfter }}">
    {{ range $i, $release := .Releases }}
    <li>
        <a class="size-h4 block text-truncate color-primary-if-not-visited" href="{{ $release.NotesUrl }}" target="_blank" rel="noreferrer">{{ .Name }}</a>
        <ul class="list-horizontal-text">
            <li {{ dynamicRelativeTimeAttrs $release.TimeReleased }}></li>
            <li>{{ $release.Version }}</li>
            {{ if gt $release.Downvotes 3 }}
            <li>{{ $release.Downvotes | formatNumber }} ⚠</li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
{{ end }}
