{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="list list-gap-14 collapsible-container" data-collapse-after="{{ .CollapseAfter }}">
    {{ range .Items }}
    <li>
        <a class="size-title-dynamic color-primary-if-not-visited" href="{{ .Link }}" target="_blank" rel="noreferrer">{{ .Title }}</a>
        <ul class="list-horizontal-text">
            <li {{ dynamicRelativeTimeAttrs .PublishedAt }}></li>
            {{ if gt (len $.FeedRequests) 1 }}
                <li><a href="{{ .ChannelURL }}" target="_blank" rel="noreferrer">{{ .ChannelName }}</a></li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
{{ end }}
