<div class="widget widget-type-{{ .GetType }}">
    <div class="widget-header">
        <div class="uppercase">{{ .Title }}</div>
        {{ if and .Error .ContentAvailable }}
        <div class="notice-icon notice-icon-major" title="{{ .Error }}"></div>
        {{ else if .Notice }}
        <div class="notice-icon notice-icon-minor" title="{{ .Notice }}"></div>
        {{ end }}
    </div>
    <div class="widget-content {{ if .ContentAvailable }}{{ block "widget-content-classes" . }}{{ end }}{{ end }}">
        {{ if .ContentAvailable }}
            {{ block "widget-content" . }}{{ end }}
        {{ else }}
            <div class="widget-error-header">
                <div class="color-negative size-h3">ERROR</div>
                <div class="widget-error-icon"></div>
            </div>
            <p class="break-all">{{ if .Error }}{{ .Error }}{{ else }}No error information provided{{ end }}</p>
        {{ end}}
    </div>
</div>
