<div class="widget widget-type-{{ .GetType }}{{ if ne "" .CSSClass }} {{ .CSSClass }}{{ end }}">
    {{ if not .HideHeader}}
    <div class="widget-header">
        {{ if ne "" .TitleURL}}<a href="{{ .TitleURL }}" target="_blank" rel="noreferrer" class="uppercase">{{ .Title }}</a>{{ else }}<div class="uppercase">{{ .Title }}</div>{{ end }}
        {{ if and .Error .ContentAvailable }}
        <div class="notice-icon notice-icon-major" title="{{ .Error }}"></div>
        {{ else if .Notice }}
        <div class="notice-icon notice-icon-minor" title="{{ .Notice }}"></div>
        {{ end }}
    </div>
    {{ end }}
    <div class="widget-content{{ if .ContentAvailable }} {{ block "widget-content-classes" . }}{{ end }}{{ end }}">
        {{ if .ContentAvailable }}
            {{ block "widget-content" . }}{{ end }}
        {{ else }}
            <div class="widget-error-header">
                <div class="color-negative size-h3">ERROR</div>
                <div class="widget-error-icon"></div>
            </div>
            <p class="break-all">{{ if .Error }}{{ .Error }}{{ else }}No error information provided{{ end }}</p>
        {{ end}}
    </div>
</div>
