{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<div class="widget-small-content-bounds">
    <div class="flex justify-between items-center">
        <div class="color-highlight size-h1">{{ .Calendar.CurrentMonthName }}</div>
        <ul class="list-horizontal-text color-highlight size-h4">
            <li>Week {{ .Calendar.CurrentWeekNumber }}</li>
            <li>{{ .Calendar.CurrentYear }}</li>
        </ul>
    </div>

    <div class="flex flex-wrap size-h6 margin-top-10 color-subdue">
        {{ if .StartSunday }}
            <div class="calendar-day">Su</div>
        {{ end }}
        <div class="calendar-day">Mo</div>
        <div class="calendar-day">Tu</div>
        <div class="calendar-day">We</div>
        <div class="calendar-day">Th</div>
        <div class="calendar-day">Fr</div>
        <div class="calendar-day">Sa</div>
        {{ if not .StartSunday }}
            <div class="calendar-day">Su</div>
        {{ end }}
    </div>

	<div class="flex flex-wrap justify-center items-center">
		{{ range .Calendar.Days }}
		<div class="calendar-day{{ if eq .Day $.Calendar.CurrentDay }} calendar-day-today{{ end }} {{ if .IsEvent}} calendar-isevent{{ end }}">
		{{ if .IsEvent}}
			<div class="tooltip">
				<span class="tooltiptext">
					{{ range .Events }}
						{{ .EventHover }}
						<br>
					{{ end }}
				</span>
			</div>
		{{ end }}
		<span>{{ .Day }}</span>
	</div>
	{{ end }}
    </div>
</div>
{{ end }}
