{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<div class="qbittorrent-torrents">
    {{- if .Torrents }}
    {{- range .Torrents }}
    <div class="qbittorrent-torrent">
        <div class="qbittorrent-torrent-header">
            <span class="qbittorrent-torrent-name text-truncate">{{ .Name }}</span>
        </div>
        <div class="qbittorrent-torrent-progress flex items-center gap-10">
            <div class="progress-bar flex-1">
                <div class="progress-value" style="--percent: {{ (multiply .Progress 100) }};"></div>
            </div>
            <span class="qbittorrent-progress-text color-highlight text-very-compact">{{ printf "%.1f" (multiply
                .Progress 100) }}
                <span class="color-base">%</span></span>
        </div>
        <div class="qbittorrent-torrent-info">
            {{- if eq .Progress 1.0 }}
            <span class="qbittorrent-torrent-completed color-primary">Completed</span>
            {{- else }}
            <span class="qbittorrent-torrent-speed">{{ .Speed | formatBytes }}/s</span>
            {{- end }}
        </div>
    </div>
    {{- end }}
    {{- else }}
    <div class="text-center color-subdue">No active torrents</div>
    {{- end }}
</div>
{{ end }}
