{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="list list-gap-10 collapsible-container" data-collapse-after="{{ .CollapseAfter }}">
    {{ range .Releases }}
    <li>
        <div class="flex items-center gap-10">
            <a class="size-h4 block text-truncate color-primary-if-not-visited" href="{{ .NotesUrl }}" target="_blank" rel="noreferrer">{{ .Name }}</a>
            {{ if $.ShowSourceIcon }}
            <img class="flat-icon release-source-icon" src="{{ .SourceIconURL }}" alt="" loading="lazy">
            {{ end }}
        </div>
        <ul class="list-horizontal-text">
            <li {{ dynamicRelativeTimeAttrs .TimeReleased }}></li>
            <li>{{ .Version }}</li>
            {{ if gt .Downvotes 3 }}
            <li>{{ .Downvotes | formatNumber }} ⚠</li>
            {{ end }}
        </ul>
    </li>
    {{ end }}
</ul>
{{ end }}
