{{ template "widget-base.html" . }}

{{ define "widget-content-classes" }}{{ if not .Filters.AllFiltered }}widget-content-frameless{{ end }}{{ end }}

{{ define "widget-content" }}
{{ if .Filters.AllFiltered }}
<p>No videos match the specified filters ({{ .Filters.FilteredCount }} filtered)</p>
{{ else }}
<div class="cards-grid collapsible-container" data-collapse-after-rows="{{ .CollapseAfterRows }}">
    {{ range .Videos }}
    <div class="card widget-content-frame thumbnail-parent">
        {{ template "video-card-contents" . }}
    </div>
    {{ end }}
</div>
{{ end }}
{{ end }}
