{{ template "widget-base.html" . }}

{{ define "widget-content" }}
<ul class="list list-gap-10 collapsible-container" data-collapse-after="{{ .CollapseAfter }}">
    {{ range .Issues }}
    <li>
        <div class="flex items-center gap-10">
            <span class="repository">{{ .Repository }}</span>
            {{ if .IssueNumber }}
            <span class="issue-number">#{{ .IssueNumber }}</span>
            {{ end }}
            <a class="size-h4 block text-truncate color-primary-if-not-visited" href="{{ .URL }}" target="_blank" rel="noopener noreferrer">{{ .Title }}</a>
            {{ if .MatchScore }}
            <span class="{{ matchScoreBadgeClass .MatchScore }}" title="This indicates how well this issue matches your query.">{{ .MatchScore }}0%</span>
            {{ end }}
        </div>
        <ul class="list-horizontal-text">
            <li>
                <time datetime="{{ .TimeUpdated.Format "2006-01-02T15:04:05Z07:00" }}">
                    {{ .TimeUpdated.Format "Jan 02, 2006 15:04" }}
                </time>
            </li>
            <li>{{ .IssueType }}</li>
            <li>{{ .ActivityType }}</li>
        </ul>
        {{ if .Summary }}
        <div class="forum-post-match-summary">{{ .Summary }}</div>
        {{ end }}
    </li>
    {{ end }}
</ul>
{{ end }} 